In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.tree import DecisionTreeClassifier  
from sklearn.svm import LinearSVC

In [2]:
from sklearn.preprocessing import RobustScaler
from sklearn.compose import ColumnTransformer
from sklearn.compose import make_column_selector
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OrdinalEncoder

In [3]:
path = '../../raw_data/CVD_cleaned.csv'

data = pd.read_csv(path)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308854 entries, 0 to 308853
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   General_Health                308854 non-null  object
 1   Checkup                       308854 non-null  object
 2   Exercise                      308854 non-null  object
 3   Heart_Disease                 308854 non-null  object
 4   Skin_Cancer                   308854 non-null  object
 5   Other_Cancer                  308854 non-null  object
 6   Depression                    308854 non-null  object
 7   Diabetes                      308854 non-null  object
 8   Arthritis                     308854 non-null  object
 9   Sex                           308854 non-null  object
 10  Age_Category                  308854 non-null  object
 11  Height_(cm)                   308854 non-null  float64
 12  Weight_(kg)                   308854 non-null  float64
 13  BMI                           308854 non-null  float64
 14  Smoking_History               308854 non-null  object
 15  Alcohol_Consumption           308854 non-null  float64
 16  Fruit_Consumption             308854 non-null  float64
 17  Green_Vegetables_Consumption  308854 non-null  float64
 18  FriedPotato_Consumption       308854 non-null  float64
dtypes: float64(7), object(12)
memory usage: 44.8+ MB

In [5]:
data.drop_duplicates(inplace=True)

In [6]:
data.head()

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Poor,Within the past 2 years,No,No,No,No,No,No,Yes,Female,70-74,150.0,32.66,14.54,Yes,0.0,30.0,16.0,12.0
1,Very Good,Within the past year,No,Yes,No,No,No,Yes,No,Female,70-74,165.0,77.11,28.29,No,0.0,30.0,0.0,4.0
2,Very Good,Within the past year,Yes,No,No,No,No,Yes,No,Female,60-64,163.0,88.45,33.47,No,4.0,12.0,3.0,16.0
3,Poor,Within the past year,Yes,Yes,No,No,No,Yes,No,Male,75-79,180.0,93.44,28.73,No,0.0,30.0,30.0,8.0
4,Good,Within the past year,No,No,No,No,No,No,No,Male,80+,191.0,88.45,24.37,Yes,0.0,8.0,4.0,0.0

In [7]:
data['Checkup'].value_counts()

Checkup
Within the past year       239295
Within the past 2 years     37210
Within the past 5 years     17442
5 or more years ago         13420
Never                        1407
Name: count, dtype: int64

In [8]:
data['Age_Category'].value_counts()

Age_Category
65-69    33425
60-64    32409
70-74    31099
55-59    28048
50-54    25090
80+      22269
40-44    21587
45-49    20963
75-79    20699
35-39    20598
18-24    18670
30-34    18425
25-29    15492
Name: count, dtype: int64

In [9]:
data.head(2)

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Poor,Within the past 2 years,No,No,No,No,No,No,Yes,Female,70-74,150.0,32.66,14.54,Yes,0.0,30.0,16.0,12.0
1,Very Good,Within the past year,No,Yes,No,No,No,Yes,No,Female,70-74,165.0,77.11,28.29,No,0.0,30.0,0.0,4.0

In [10]:
# Preprocess Age_Category

data['Age_Category'].value_counts().sort_values()

def age_process(x) :
    
    if x in ['25-29', '18-24', '30-34'] :
        
        return 'young'
        
    elif x in ['35-39', '40-44', '45-49', '50-54', '55-59'] :
        
        return 'adult'
        
    else :
        
        return 'old'

In [11]:
data['age_category'] = data['Age_Category'].map(lambda x : age_process(x))

In [12]:
data.drop(columns=['Age_Category', 'Checkup', 'BMI'], inplace=True)

In [13]:
data.head()

,General_Health,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Height_(cm),Weight_(kg),Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption,age_category
0,Poor,No,No,No,No,No,No,Yes,Female,150.0,32.66,Yes,0.0,30.0,16.0,12.0,old
1,Very Good,No,Yes,No,No,No,Yes,No,Female,165.0,77.11,No,0.0,30.0,0.0,4.0,old
2,Very Good,Yes,No,No,No,No,Yes,No,Female,163.0,88.45,No,4.0,12.0,3.0,16.0,old
3,Poor,Yes,Yes,No,No,No,Yes,No,Male,180.0,93.44,No,0.0,30.0,30.0,8.0,old
4,Good,No,No,No,No,No,No,No,Male,191.0,88.45,Yes,0.0,8.0,4.0,0.0,old

In [14]:
X = data.drop(columns=['Heart_Disease'],axis=1)
y = data[['Heart_Disease']]

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

 We have three kinds of columns : 
 
 - Numerical, I'll use RobustScaler because of outliers
 
 - Categorical Binary (Yes/No) I'll use OneHotEncoder
 
 - Categorical Nominal with an inherent order, I'll use OrdinalEncoder

In [16]:
data.columns

Index(['General_Health', 'Exercise', 'Heart_Disease', 'Skin_Cancer',
       'Other_Cancer', 'Depression', 'Diabetes', 'Arthritis', 'Sex',
       'Height_(cm)', 'Weight_(kg)', 'Smoking_History', 'Alcohol_Consumption',
       'Fruit_Consumption', 'Green_Vegetables_Consumption',
       'FriedPotato_Consumption', 'age_category'],
      dtype='object')

In [17]:
ord_cols = ['General_Health', 'age_category']
cat_cols = ['Smoking_History','Exercise', 'Skin_Cancer','Other_Cancer', 'Depression', 'Diabetes', 'Arthritis', 'Sex']

In [18]:
General_Health_sorted = ['Poor', 'Fair', 'Good', 'Very Good', 'Excellent']
age_category_sorted = ['young', 'adult', 'old']

In [19]:
robust_enc = RobustScaler()
num_cols = X_train.select_dtypes(exclude=['object']).columns
X_train.select_dtypes(exclude=['object'])

,Height_(cm),Weight_(kg),Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
262811,168.0,77.11,0.0,20.0,20.0,4.0
253061,168.0,56.70,3.0,16.0,20.0,3.0
34661,160.0,68.04,0.0,20.0,0.0,3.0
196448,175.0,95.25,0.0,16.0,0.0,20.0
155854,157.0,45.36,0.0,30.0,0.0,1.0
...,...,...,...,...,...,...
19760,160.0,64.00,2.0,4.0,12.0,8.0
192202,185.0,84.37,4.0,30.0,30.0,1.0
288032,180.0,77.11,0.0,16.0,2.0,1.0
242214,152.0,77.11,0.0,32.0,30.0,0.0
243198,140.0,102.06,0.0,5.0,8.0,4.0

In [20]:
ordinal_enc = OrdinalEncoder(categories=[General_Health_sorted , age_category_sorted],
              handle_unknown='use_encoded_value',
              unknown_value=-1)

X_train[['General_Health', 'age_category']] = ordinal_enc.fit_transform(X_train[['General_Health', 'age_category']])
X_test[['General_Health', 'age_category']] = ordinal_enc.transform(X_test[['General_Health', 'age_category']])

In [21]:
data.select_dtypes(exclude=['object'])

,Height_(cm),Weight_(kg),Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,150.0,32.66,0.0,30.0,16.0,12.0
1,165.0,77.11,0.0,30.0,0.0,4.0
2,163.0,88.45,4.0,12.0,3.0,16.0
3,180.0,93.44,0.0,30.0,30.0,8.0
4,191.0,88.45,0.0,8.0,4.0,0.0
...,...,...,...,...,...,...
308849,168.0,81.65,4.0,30.0,8.0,0.0
308850,180.0,69.85,8.0,15.0,60.0,4.0
308851,157.0,61.23,4.0,40.0,8.0,4.0
308852,183.0,79.38,3.0,30.0,12.0,0.0
308853,160.0,81.19,1.0,5.0,12.0,1.0

In [22]:
X_train.columns

Index(['General_Health', 'Exercise', 'Skin_Cancer', 'Other_Cancer',
       'Depression', 'Diabetes', 'Arthritis', 'Sex', 'Height_(cm)',
       'Weight_(kg)', 'Smoking_History', 'Alcohol_Consumption',
       'Fruit_Consumption', 'Green_Vegetables_Consumption',
       'FriedPotato_Consumption', 'age_category'],
      dtype='object')

In [23]:
data['Diabetes'].value_counts()

Diabetes
No                                            259062
Yes                                            40170
No, pre-diabetes or borderline diabetes         6896
Yes, but female told only during pregnancy      2646
Name: count, dtype: int64

In [24]:
cat_columns = X_train.select_dtypes(include=['object']).columns
X_train.select_dtypes(include=['object'])

,Exercise,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Smoking_History
262811,Yes,No,No,No,No,Yes,Male,Yes
253061,Yes,No,No,Yes,No,No,Female,No
34661,Yes,No,No,Yes,No,No,Female,No
196448,Yes,No,No,Yes,No,Yes,Male,Yes
155854,No,No,No,No,No,Yes,Female,No
...,...,...,...,...,...,...,...,...
19760,Yes,No,No,No,No,No,Female,No
192202,Yes,Yes,No,No,No,Yes,Male,No
288032,Yes,No,No,No,No,No,Male,No
242214,No,No,No,No,No,No,Female,No
243198,No,No,No,No,Yes,Yes,Male,Yes

In [25]:
ohe = OneHotEncoder(drop='if_binary', sparse=False, handle_unknown='ignore')
print(pd.DataFrame(ohe.fit_transform(X_train[cat_columns]),columns=ohe.get_feature_names_out()).isna().sum())
print(X_train.isna().sum())
X_train[ohe.get_feature_names_out()] = ohe.fit_transform(X_train[cat_columns])

/home/nachmz42/.pyenv/versions/3.10.6/envs/mediml/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Exercise_Yes                                           0
Skin_Cancer_Yes                                        0
Other_Cancer_Yes                                       0
Depression_Yes                                         0
Diabetes_No                                            0
Diabetes_No, pre-diabetes or borderline diabetes       0
Diabetes_Yes                                           0
Diabetes_Yes, but female told only during pregnancy    0
Arthritis_Yes                                          0
Sex_Male                                               0
Smoking_History_Yes                                    0
dtype: int64
General_Health                  0
Exercise                        0
Skin_Cancer                     0
Other_Cancer                    0
Depression                      0
Diabetes                        0
Arthritis                       0
Sex                             0
Height_(cm)                     0
Weight_(kg)                     0
Smoking_History                 0
Alcohol_Consumption             0
Fruit_Consumption               0
Green_Vegetables_Consumption    0
FriedPotato_Consumption         0
age_category                    0
dtype: int64

/home/nachmz42/.pyenv/versions/3.10.6/envs/mediml/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [26]:
X_train = X_train.drop(columns=cat_columns)

In [27]:
X_train.head()

,General_Health,Height_(cm),Weight_(kg),Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption,age_category,Exercise_Yes,Skin_Cancer_Yes,Other_Cancer_Yes,Depression_Yes,Diabetes_No,"Diabetes_No, pre-diabetes or borderline diabetes",Diabetes_Yes,"Diabetes_Yes, but female told only during pregnancy",Arthritis_Yes,Sex_Male,Smoking_History_Yes
262811,2.0,168.0,77.11,0.0,20.0,20.0,4.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0
253061,4.0,168.0,56.70,3.0,16.0,20.0,3.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
34661,2.0,160.0,68.04,0.0,20.0,0.0,3.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
196448,2.0,175.0,95.25,0.0,16.0,0.0,20.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0
155854,2.0,157.0,45.36,0.0,30.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [28]:
X_train.isna().sum()

General_Health                                         0
Height_(cm)                                            0
Weight_(kg)                                            0
Alcohol_Consumption                                    0
Fruit_Consumption                                      0
Green_Vegetables_Consumption                           0
FriedPotato_Consumption                                0
age_category                                           0
Exercise_Yes                                           0
Skin_Cancer_Yes                                        0
Other_Cancer_Yes                                       0
Depression_Yes                                         0
Diabetes_No                                            0
Diabetes_No, pre-diabetes or borderline diabetes       0
Diabetes_Yes                                           0
Diabetes_Yes, but female told only during pregnancy    0
Arthritis_Yes                                          0
Sex_Male                                               0
Smoking_History_Yes                                    0
dtype: int64

In [29]:
# ohe = OneHotEncoder(drop='if_binary', sparse=False, handle_unknown='ignore')

# transformed_features = ohe.fit_transform(X_train[cat_columns])
# column_names = ohe.get_feature_names_out(input_features=cat_columns)
# transformed_df = pd.DataFrame(transformed_features, columns=column_names)
# X_train = X_train.drop(columns=cat_columns)
# X_train = pd.concat([X_train, transformed_df], axis=1)

In [30]:
X_train.isnull().sum()

General_Health                                         0
Height_(cm)                                            0
Weight_(kg)                                            0
Alcohol_Consumption                                    0
Fruit_Consumption                                      0
Green_Vegetables_Consumption                           0
FriedPotato_Consumption                                0
age_category                                           0
Exercise_Yes                                           0
Skin_Cancer_Yes                                        0
Other_Cancer_Yes                                       0
Depression_Yes                                         0
Diabetes_No                                            0
Diabetes_No, pre-diabetes or borderline diabetes       0
Diabetes_Yes                                           0
Diabetes_Yes, but female told only during pregnancy    0
Arthritis_Yes                                          0
Sex_Male                                               0
Smoking_History_Yes                                    0
dtype: int64

In [31]:
clf = DecisionTreeClassifier(max_depth=5, min_samples_split=2, min_samples_leaf=1)

In [32]:
X_train.shape

(216141, 19)

In [33]:
X_train.isna().sum()

General_Health                                         0
Height_(cm)                                            0
Weight_(kg)                                            0
Alcohol_Consumption                                    0
Fruit_Consumption                                      0
Green_Vegetables_Consumption                           0
FriedPotato_Consumption                                0
age_category                                           0
Exercise_Yes                                           0
Skin_Cancer_Yes                                        0
Other_Cancer_Yes                                       0
Depression_Yes                                         0
Diabetes_No                                            0
Diabetes_No, pre-diabetes or borderline diabetes       0
Diabetes_Yes                                           0
Diabetes_Yes, but female told only during pregnancy    0
Arthritis_Yes                                          0
Sex_Male                                               0
Smoking_History_Yes                                    0
dtype: int64

In [37]:
y_train.value_counts()

Heart_Disease
No               198601
Yes               17540
Name: count, dtype: int64

In [38]:
scoring = ['accuracy', 'precision', 'recall', 'f1', 'roc_auc']
scores = cross_validate(clf, X_train, y_train, scoring=scoring, cv=5)

TypeError: got an unexpected keyword argument 'pos_label'

In [36]:
scores

{'fit_time': array([0.34170461, 0.34564376, 0.3313005 , 0.32968354, 0.33729291]),
 'score_time': array([0.42426014, 0.42639112, 0.41505003, 0.41770768, 0.41609383]),
 'test_accuracy': array([0.91922089, 0.91903396, 0.91961229, 0.91880263, 0.91949662]),
 'test_precision': array([nan, nan, nan, nan, nan]),
 'test_recall': array([nan, nan, nan, nan, nan]),
 'test_f1': array([nan, nan, nan, nan, nan]),
 'test_roc_auc': array([0.80913614, 0.80973805, 0.81309252, 0.8128944 , 0.81304043])}